<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Custom - Blog Categories" Id="Umbraco.DropDown" Definition="31e6a876-cf42-4a6e-941d-a174e06a308a" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="6" Value="Tech" Alias="0" SortOrder="0" />
    <PreValue Id="7" Value="Development" Alias="1" SortOrder="1" />
  </PreValues>
  <Hash>d3500e86cdf24b68d7e25cab8fa28390</Hash>
</DataType>