@using Website.Domain.Home.Models.Archetypes
@model Website.Domain.Service.ViewModels.ServicesViewModel
@{
    var services = (Model.Content.ServicesList ?? new List<Service>()).Where(i => !i.Disabled).ToList();
}
<div class="divide20"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="heading">Services</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 margin20">
            <p>
                @ViewBag.MetaDescription
            </p>
        </div>
        <div class="col-md-6">
            @if (Model.Content.ServiceImage != null && Model.Content.ServiceImage.HasUrl)
            {
                @Html.FluidImage(Model.Content.ServiceImage, true, 555, 260)
            }
        </div>
    </div>
    <!--about intro-->
</div>

@if (services.Any())
{
    <div class="divide60"></div>
    <div class="container">
        @Html.Partial("Services", services)
    </div>
    <!--services row-->
}

<!--skills-->
<div class="divide60"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="heading">Skills</h3>
            <div class="tag-list">
                <a href="javascript:void(0);">.Net</a>
                <a href="javascript:void(0);">ASP.Net</a>
                <a href="javascript:void(0);">Mvc</a>
                <a href="javascript:void(0);">Umbraco</a>
                <a href="javascript:void(0);">Web Forms</a>
                <a href="javascript:void(0);">Javascript</a>
                <a href="javascript:void(0);">jQuery</a>
                <a href="javascript:void(0);">Azure</a>
                <a href="javascript:void(0);">Sql Server</a>
                <a href="javascript:void(0);">HTML</a>
                <a href="javascript:void(0);">CSS</a>
                <a href="javascript:void(0);">Less</a>
                <a href="javascript:void(0);">AngularJs</a>
                <a href="javascript:void(0);">IIS</a>
                <a href="javascript:void(0);">Windows Server</a>
                <a href="javascript:void(0);">nUnit</a>
                <a href="javascript:void(0);">TDD</a>
                <a href="javascript:void(0);">Team City</a>
                <a href="javascript:void(0);">Cruisecontrol .Net</a>
                <a href="javascript:void(0);">MS Build</a>
                <a href="javascript:void(0);">Parallel/Async Programming</a>
            </div>
        </div>
    </div>
</div>
<div class="divide60"></div>
<!--skills-->
