<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<MediaType>
  <Info>
    <Name>Image</Name>
    <Alias>Image</Alias>
    <Icon>icon-picture</Icon>
    <Thumbnail>icon-picture</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Image</Name>
      <Alias>umbracoFile</Alias>
      <Type>7a2d436c-34c2-410f-898f-4a23b3d79f54</Type>
      <Definition>00000000-0000-0000-0000-000000000000</Definition>
      <Tab>Image</Tab>
      <Mandatory>True</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Width</Name>
      <Alias>umbracoWidth</Alias>
      <Type>17b70066-f764-407d-ab05-3717f1e1c513</Type>
      <Definition>00000000-0000-0000-0000-000000000000</Definition>
      <Tab>Image</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Height</Name>
      <Alias>umbracoHeight</Alias>
      <Type>17b70066-f764-407d-ab05-3717f1e1c513</Type>
      <Definition>00000000-0000-0000-0000-000000000000</Definition>
      <Tab>Image</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Size</Name>
      <Alias>umbracoBytes</Alias>
      <Type>17b70066-f764-407d-ab05-3717f1e1c513</Type>
      <Definition>00000000-0000-0000-0000-000000000000</Definition>
      <Tab>Image</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Type</Name>
      <Alias>umbracoExtension</Alias>
      <Type>17b70066-f764-407d-ab05-3717f1e1c513</Type>
      <Definition>00000000-0000-0000-0000-000000000000</Definition>
      <Tab>Image</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>3</Id>
      <Caption>Image</Caption>
      <Sort>1</Sort>
    </Tab>
  </Tabs>
  <Hash>7182d0ea56b0111f08221b5c4a4aa59c</Hash>
</MediaType>