<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<MediaType>
  <Info>
    <Name>File</Name>
    <Alias>File</Alias>
    <Icon>icon-document</Icon>
    <Thumbnail>icon-document</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Upload file</Name>
      <Alias>umbracoFile</Alias>
      <Type>5032a6e6-69e3-491d-bb28-cd31cd11086c</Type>
      <Definition>00000000-0000-0000-0000-000000000000</Definition>
      <Tab>File</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Type</Name>
      <Alias>umbracoExtension</Alias>
      <Type>17b70066-f764-407d-ab05-3717f1e1c513</Type>
      <Definition>00000000-0000-0000-0000-000000000000</Definition>
      <Tab>File</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Size</Name>
      <Alias>umbracoBytes</Alias>
      <Type>17b70066-f764-407d-ab05-3717f1e1c513</Type>
      <Definition>00000000-0000-0000-0000-000000000000</Definition>
      <Tab>File</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>4</Id>
      <Caption>File</Caption>
      <Sort>1</Sort>
    </Tab>
  </Tabs>
  <Hash>b739fe97a00eab892a4853153163c516</Hash>
</MediaType>