<?xml version="1.0" encoding="utf-8"?>
<security>
  <services>
    <service name="LocalFileImageService" type="ImageProcessor.Web.Services.LocalFileImageService, ImageProcessor.Web" />
    <service prefix="remote.axd" name="RemoteImageService" type="ImageProcessor.Web.Services.RemoteImageService, ImageProcessor.Web">
      <settings>
        <setting key="MaxBytes" value="14194304" />
        <setting key="Timeout" value="3000" />
        <setting key="Protocol" value="https" />
      </settings>
      <whitelist>
        <add url="https://mlwd.blob.core.windows.net" />
      </whitelist>
    </service>
  </services>
</security>