<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Folder</Name>
    <Alias>Folder</Alias>
    <Icon>icon-folder-outline</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Partial</Master>
    <Compositions>
      <Composition>Partial</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Folder</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>7749499698118ffc956e557f3472840f</Hash>
</DocumentType>