<div class="container">
    <div class="row">
        <div class="col-md-12 text-center error-text">
            <div class="divide30"></div>
            <h1 class="error-digit wow animated fadeInUp margin20 animated" style="visibility: visible; animation-name: fadeInUp;"><i class="fa fa-thumbs-down"></i></h1>
            <h2>Opps, the page could not be found!</h2>
            <p><a class="btn border-black btn-lg" href="#">Go Back</a></p>
        </div>
    </div>
</div>
