<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Homepage</Name>
    <Alias>Homepage</Alias>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Homepage for the site</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Page</Master>
    <Compositions>
      <Composition>Page</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Preview</Template>
    </AllowedTemplates>
    <DefaultTemplate>Preview</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Services</DocumentType>
    <DocumentType>BlogListing</DocumentType>
    <DocumentType>Contact</DocumentType>
    <DocumentType>ContentPage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Testimonials</Name>
      <Alias>testimonials</Alias>
      <Type>Imulus.Archetype</Type>
      <Definition>d3287924-1f3e-4c11-8d7f-609d6cfe7ca0</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Services</Name>
      <Alias>services</Alias>
      <Type>Imulus.Archetype</Type>
      <Definition>795cc77f-8925-46f3-afa4-eae8d1dfdedc</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Header Background</Name>
      <Alias>headerBackground</Alias>
      <Type>Umbraco.MediaPicker</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>26</Id>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
  <Hash>b57978f8e4936763be685fcfc626ea4f</Hash>
</DocumentType>