@model IList<Website.Domain.Home.Models.Archetypes.Service>
@{
    var services = Model;
}

<div class="row">
    @foreach (var service in services)
    {
        <div class="col-md-4 col-sm-6 margin20">
            <div class="services-box animated fadeInUp">
                <div class="services-box-icon">
                    @if (service.Image != null && service.Image.HasUrl)
                    {
                        @Html.FluidImage(service.Image, 50, 50)
                    }
                </div>
                <!--services icon-->
                <div class="services-box-info">
                    <h4>@service.Title</h4>
                    @Html.RawUmbraco(service.Description)
                </div>
            </div>
        </div>
    }
</div>
