<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Custom - Blog Categories" Id="Umbraco.DropDown" Definition="31e6a876-cf42-4a6e-941d-a174e06a308a" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="6" Value="Tech" Alias="0" SortOrder="0" />
    <PreValue Id="7" Value="Development" Alias="1" SortOrder="1" />
    <PreValue Id="8" Value="Other" Alias="2" SortOrder="2" />
    <PreValue Id="9" Value="Life" Alias="3" SortOrder="3" />
    <PreValue Id="10" Value="Sports" Alias="4" SortOrder="4" />
    <PreValue Id="11" Value="Funnies" Alias="5" SortOrder="5" />
    <PreValue Id="12" Value="Work" Alias="6" SortOrder="6" />
  </PreValues>
  <Hash>c708763cab956265774c02d541396ec9</Hash>
</DataType>