@model Website.Domain.Contents.ViewModels.ContactViewModel

<div class="divide20"></div>
<div class="row">
    <div class="col-md-12">
        <div class="center-heading">
            <h2>Contact me</h2>
            <span class="center-line"></span>
        </div>
    </div>
</div>
<div class="container">
    <iframe width="600" height="450" frameborder="0" style="border: 0"
        src="https://www.google.com/maps/embed/v1/place?q=1%20Haran%20Road%2C%20Balloch%2C%20United%20Kingdom&key=AIzaSyDJJ0RRCTjcxGnP0fSDMmKEW4zXA4zttgs"></iframe>
</div>
<div class="divide50"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 margin30">
            <p>
                If your looking for someone to complete, start, suggest, consult, advise, build or maintain a software project... I could be your guy. Seriously, I can't get enough of it.
                Plus, think on it this way. You'd be helping my wife and kids out, they hate me being here. Talking about work, being tall, eating all the food... can't be easy putting up 
                with that all day every day. 
            </p>
            <h3>So... eh... yeah. Help them, by helping me, help you =)</h3>
        </div>
    </div>
</div>
