<?xml version="1.0"?>
<FileSystemProviders>

  <Provider alias="media" type="idseefeld.de.UmbracoAzure.AzureBlobFileSystem, idseefeld.de.UmbracoAzure">
    <Parameters>
      <add key="containerName" value="mlwd-media" />
      <add key="rootUrl" value="https://mlwd.blob.core.windows.net/" />
      <add key="connectionString" value="DefaultEndpointsProtocol=https;AccountName=mlwd;AccountKey=B4CCC1BlHNNua228rm1gJHJaKw+ykcavJF1CNh7YQrFUtW9Ic9uxnI+CNJ87IVC3w2Y40AOCl1alMgneJgxh8g=="/>
      <add key="mimetypes" value="" />
      <add key="cacheControl" value="*|public, max-age=31536000;js|no-cache" />
    </Parameters>
  </Provider>

</FileSystemProviders>