<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blog Listing</Name>
    <Alias>BlogListing</Alias>
    <Icon>icon-newspaper</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Blog listing for the site</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Master>Page</Master>
    <Compositions>
      <Composition>Page</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>True</Container>
  </Info>
  <Structure>
    <DocumentType>BlogDetails</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Page Item Count</Name>
      <Alias>blogPageCount</Alias>
      <Type>Umbraco.Integer</Type>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>18</Id>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
  <Hash>aa6ad0fc048b310e3d9d34d4684c954c</Hash>
</DocumentType>