<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blog Listing</Name>
    <Alias>BlogListing</Alias>
    <Icon>icon-newspaper</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Blog listing for the site</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Master>Page</Master>
    <Compositions>
      <Composition>Page</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>True</Container>
  </Info>
  <Structure>
    <DocumentType>BlogDetails</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>8290e3064ff36ead4c6795e1957b09f6</Hash>
</DocumentType>